<div class="container">
  <h1>Collapse Demo</h1>

  <button class="btn btn-sm btn-outline-primary" (click)="open = !open">Toggle</button>

  <app-collapse [open]="open">
    I am a very simple collapse.
  </app-collapse>

  <hr>

  <h1>Collapse Menu Demo</h1>

  <app-collapse-menu title="I am a simple header">
    Lorem ipsum dolor sit amet, consectetuer
    adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa.
  </app-collapse-menu>

  <app-collapse-menu title="I am a simple header too!">
    Lorem ipsum dolor sit amet, consectetuer
    adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa.
  </app-collapse-menu>

  <app-collapse-menu #collapse (collapseChange)="onCollapseChange($event)">
    <header *appCollapseMenuHeader="let open" class="d-flex justify-content-between">
      <div class="custom-header">Some custom title 🥳</div>
      <a href="#"
         *ngIf="open" class="custom-header"
         (click)="$event.preventDefault(); collapse.closeCollapse()"><i class="fa fa-times"></i>
      </a>
      <a href="#" *ngIf="!open" class="custom-header"
         (click)="$event.preventDefault(); collapse.openCollapse()">Open</a>
    </header>

    Lorem ipsum dolor sit amet, consectetuer
    adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa.

    <a href="#" (click)="$event.preventDefault(); collapse.closeCollapse()">Done</a>
  </app-collapse-menu>
</div>
